<div class="container">
  <div class="row">
    <aside class="col-sm-4">
  <div class="card">
  <article class="card-body">
  <a href="" class="float-right btn btn-outline-primary">Sign up</a>
  <h4 class="card-title mb-4 mt-1">Sign in</h4>
     <form>
      <div class="form-group">
        <label>Your email</label>
          <input type="email" class="form-control" placeholder="" [(ngModel)] = "user.email"  [ngModelOptions]="{standalone: true}">
      </div> <!-- form-group// -->
      <div class="form-group">
        <a class="float-right" href="#">Forgot?</a>
        <label>Your password</label>
          <input type="password" class="form-control" placeholder="" [(ngModel)] = "user.password"  [ngModelOptions]="{standalone: true}">
      </div> <!-- form-group// -->
      <div class="form-group">
      <div class="checkbox">
        <label> <input type="checkbox"> Save password </label>
      </div> <!-- checkbox .// -->
      </div> <!-- form-group// -->
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="login()" > Login  </button>
      </div> <!-- form-group// -->
  </form>
  </article>
  </div> <!-- card.// -->
