
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card">
        <header class="card-header">
          <a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
          <h4 class="card-title mt-2">Sign up</h4>
        </header>
        <article class="card-body">
          <form>

            <div class="form-row">
              <div class="col form-group">
                <label>First name </label>

                <input type="text" class="form-control" required placeholder="" [(ngModel)] = "user.firstName"  [ngModelOptions]="{standalone: true}">
              </div> <!-- form-group end.// -->
              <div class="col form-group">
                <label>Last name</label>
                <input type="text" class="form-control" placeholder="" [(ngModel)] = "user.lastName"  [ngModelOptions]="{standalone: true}">
              </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" placeholder=""  [(ngModel)] = "user.email"  [ngModelOptions]="{standalone: true}">
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div> <!-- form-group end.// -->


            <div class="form-group">
              <label>Create password</label>
              <input class="form-control" type="password" [(ngModel)] = "user.password"  [ngModelOptions]="{standalone: true}">
            </div> <!-- form-group end.// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" (click)="register()"> Signup </button>
            </div> <!-- form-group// -->

          </form>
        </article> <!-- card-body end .// -->
        <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
      </div> <!-- card.// -->
    </div> <!-- col.//-->

  </div> <!-- row.//-->


</div>
